@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .bg-hero{
        background: url('./images/homepage/hero_1600.png') no-repeat center/cover;
        height: auto;
    }
    .bg-aandi{
        background: url('./images/homepage/game_pass_1600.png') no-repeat center/cover;
        height: auto;
    }
    .hover-effect {
        opacity: 90;
        color:red
    }
}